<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define a pattern for log messages -->
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set up the root logger with a default level and the console appender -->
    <root level="DEBUG">
        <appender-ref ref="ConsoleAppender"/>
    </root>

    <logger name="com.bertramlabs.plugins" level="WARN">
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <logger name="org.reflections.Reflections" level="WARN">
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <logger name="org.eclipse.jgit" level="WARN">
        <appender-ref ref="ConsoleAppender"/>
    </logger>
</configuration>